/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to bottom, 
        #32a093 0%, 
        #32a093 15%,  
        #dfe0d9 15%,
        #dfe0d9 100%
    );
}

/* UTILITIES */

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-70 {
    width: 70%;
}

/* DEBUG */

.box {
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid black;
    height: 100px;
}

/* APP */

#app {
    width: 80%;
    height: 95%;
}

/* SECTION HEADER */

.sec-header {
    background-color: #ededed;

}

.user-image img {
    width: 40px;
    border-radius: 50%;
}

.sec-header .user-detail, .notifications {
    font-size: 14px;
}

.cta a {
    text-decoration: none;
    color: grey;
    margin-right: .5rem;
}

.last-view {
    font-size: 11px;
    color: grey;
}

/* NOTIFICATIONS ALERT */

.notifications {
    background-color: #a2dffe;
}

.notifications .notification-detail a {
    color: grey;
    font-size: 11px;
}

.bell {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    color: #a2dffe;
    font-size: 1.5rem;
}

/* SEARCH BAR */

.search-bar {
    background-color: #fbfbfb;
}
.search {
    padding: 2px 20px;
    cursor: pointer;
    border: .5px solid grey;
    border-radius: 2px;
    color: grey;
}

.search-input::placeholder,
.write-message::placeholder {
    font-size: 10px;
}

/* CONTACTS SECTION */

.contact {
    cursor: pointer;
}

.contact-image img {
    width: 45px;
    border-radius: 50%;
}

/* CHAT SECTION */

.chat {
    background-image: url(../img/mine.jpg);
}

.message {
    border-radius: 10px;
}

.message.sent {
    background-color: #ddfabf;
}

.message.received {
    background-color: #fff;
}

.message .message-date {
    font-size: .5rem;
    color: grey;
}

/* MESSAGE INPUT SECTION */

.message-input {
    background-color: #ededed;
}

.message-input i {
    font-size: 1.5rem;
}

.mic, 
.emoji {
    cursor: pointer;
}


